<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}"><b>HAMRO JAGIR</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav  mb-2 mb-lg-0 p-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'job-category' %}">Jobs</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'internship-category' %}">Internship</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Coding Bootcamp</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Companies</a>
              </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%  url 'salaries' %}">Salaries</a>
            </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'post_job' %}">Post a Job</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact</a>
              </li>

            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
              </li>
            {% endif %}

                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
              </li>
            {% endif %}


            </ul>
          </div>
        </div>
      </nav>