{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container"
         x-data="{ tag:'ALL', jobs:[]}"
         x-init="jobs = await (await fetch('/job-list')).json()"
    >

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == "warning" %}
                    <div class="alert alert-danger" style="width: 100%;">
             <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

</div>

                {% endif %}


            {% endfor %}
        </ul>
    {% endif %}


      <form action="{% url 'search' %}" class="m-3">
          <input type="text" name="q" id="" class="form-control" style="width: 70%;" placeholder="search...">
      </form>
{#    {% include 'job1app/search-hx.html' %}#}

    {% for tag in tags %}
        <button type="button" class="btn btn-primary btn-sm" @click="tag = $el.textContent">{{ tag.name }}</button>
    {% endfor %}
        <button type="button" class="btn btn-primary btn-sm" @click="tag = $el.textContent">ALL</button>



      <main class="m-3">
          <div class="col-md-12" style="">
        {% include 'job1app/job_list.html' %}
              {% include 'job1app/search_result.html' %}
        <section  class="col-md-5 main-right-section" style="background-color: blue";>

        </section>

    </div>

      </main>

    </div>



    {% include 'subscriber/subscriber_form.html' %}


{% endblock %}





